.keyboard-menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 1vmax;
    margin-left: 1vmax;
}
.menu-text {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    color: #666666;
    font-size: 2vmax;
}
.menu-text-ver {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu-text-span {
    display: inline-block;
    vertical-align: middle;
}
.menu-key:active {
    background: #888888;
}
.menu-key {
    text-align: center;
    display: flex;
    flex: 1;
    background: #449def;
    color: white;
    font-size: 2vmax;
    justify-content: center;
    align-items: center;
    padding: 0.8vmax 0 0.8vmax 0;
}
.menu-centered-row {
    align-items: center;
}
.menu-options-row {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: stretch;
}
.menu-options-double-row {
    display: flex;
    flex: 4;
    flex-direction: row;
    align-items: stretch;
}
.menu-options-row::-webkit-scrollbar {
    display: none;
}
.menu-options-row-group {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: stretch;
}
.menu-game-length-key {
    text-align: center;
    display: flex;
    margin: 0.2vmax;
    padding: 0.8vmax 0 0.8vmax 0;
    background: #888888;
    color: white;
    font-size: 2vmax;
    justify-content: center;
    align-items: center;
    border: 0.3vmax solid #888888;
}
.menu-key-checkable {
    flex: 1;
    display: flex;
    padding: 0.8vmax 0 0.8vmax 0;
    background: #888888;
    color: white;
    font-size: 2vmax;
    justify-content: center;
    align-items: center;
    height: 2vmax;
}
.menu-game-length-checked {
    border-color: #449def;
    background: #449def;
}
.menu-inc-key {
    text-align: center;
    display: flex;
    flex: 1;
    margin: 0 0.2vmax 0 0.2vmax;
    background: #449def;
    color: white;
    font-size: 2vmax;
    justify-content: center;
    align-items: center; 
    padding: 0.8vmax 0 0.8vmax 0;
}
.menu-number-key {
    text-align: center;
    display: flex;
    flex: 3;
    margin: 0 0.2vmax 0 0.2vmax;
    background: white;
    color: #666666;
    font-size: 2vmax;
    justify-content: center;
    align-items: center; 
    padding: 0.8vmax 0 0.8vmax 0;
}
.menu-inc-key:active {
    background: #888888;
}
.menu-input {
    text-align: center;
    display: flex;
    flex: 2;
    background: white;
    color: #666666;
    font-size: 2vmax;
    justify-content: center;
    align-items: center;
    border-width: 0;
    padding: 0.8vmax 0 0.8vmax 0;
}
.menu-empty {
    display: flex;
    flex: 1;
}
.menu-row {
    display: flex;
    margin-bottom: 0.5vmax;
    flex-direction: row;
    align-self: stretch;
    color: #666666;
    text-align: center;
    justify-content: center;
    font-size: 2vmax;
}
.profile-row {
    display: flex;
    margin-bottom: 0.5vmax;
    flex-direction: row;
    align-self: stretch;
    width: 10%;
    color: #111111;
    justify-content: flex-start;
    font-size: 2vmax;
}
.history {
    flex: 1;
    align-self: stretch;
    font-size: 1.8vmax;
}
.history-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 1vmax;
    color: #666666;
    font-weight: 600;
    font-size: 2vmax;
}
.history-item-container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.history-data {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
    color: #666666;
    font-weight: 600;
    font-size: 2vmax;
}
.history-item {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.history-timeStamp {
    font-size: 4vmax;
    font-weight: 800;
    color: #666666;
    font-size: 2vmax;
}
.menu-select-key {
    color: white;
    width: 100%;
    border-width: 0;
}
.menu-input-key {
    color: white;
    border-width: 0;
}
.courted-community {
    flex: 1;
    display: flex;
    background: #666666;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2vmax;
    padding: 0.5vmax;
}
.dialog-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.dialog {
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    border-color: #666666;
    border-radius: 2vmax;
    border: 0.3vmax;
    background: #dddddd;
    margin: 3vmax;
    max-width: 500px;
    min-width: 250px;
}
.dialog-close {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 100%;
    margin: 15px;
    background-image: url('data:image/svg+xml;utf8,<svg viewbox="0 0 40 40"><path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" /></svg>');
}
.dialog-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 3vmax;
    margin-right: 3vmax;
    margin-bottom: 1vmax;
}
.dialog-caption {
    display: flex;
    font-size: 2.5vmax;
    margin-left:30px;
    flex: 1;
    align-self: center;
    text-align: center;
}
.dialog-error {
    color: red;
}
.community-message {
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    border-color: #666666;
    border-radius: 2vmax;
    border: 0.3vmax;
    background: #dddddd;
    margin: 0.5vmax;
}
.event-button {
    display: flex;
    align-self: flex-end;
    margin: 10px;
}
.message-row {
    display: flex;
    margin-bottom: 0.5vmax;
    flex-direction: row;
    align-items: flex-end;
    align-self: stretch;
    color: #666666;
    text-align: center;
    justify-content: flex-end;
    font-size: 2vmax;
}
.community-rating {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 1vmax;
    border-color: #666666;
    border-radius: 0.2vmax;
    border: 0.3vmax;
    background: #dddddd;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 1000px;
}
.community-rating-header {
    background: #888888;
}
.community-rating-userName {
    display: flex;
    flex: 1;
    color: #111111;
    justify-content: center;
}
.community-rating-rating {
    display: flex;
    color: #111111;
    justify-content: center;
    min-width: 20%;
    margin-right: 10px;
}
.community-rating-event {
    display: flex;
    color: #111111;
    justify-content: center;
    min-width: 15%;
    margin-right: 10px;
}
.community-rating-event-group {
    display: flex;
    flex-direction: column;
    color: #111111;
    justify-content: center;
    min-width: 20%;
    margin-right: 10px;
}
.community-rating-event-group-short {
    min-width: 10%;
}
.community-rating-status {
    display: flex;
    justify-content: center;
    min-width: 20%; 
}
.community-rating-status-disabled {
    color: #111111;
}

.caption {
    display: flex;
    flex: none;
    flex-direction: row;
    flex-flow: wrap;
    padding: 1.2vmax 1.2vmax 1.2vmax 1.2vmax;
    background-color: #232f3c;
    justify-content: flex-end;
    align-items: center
}
.menudropbtn {
    color: #f1e1c1;
    stroke: #f1e1c1;
    padding: 0px 1vmax 0px 1vmax;
    font-size: 2.5vmax;
    border: none;
    cursor: pointer;
}
.menudropbtn:hover, .menudropbtn:focus {
    color: #ff8f00;
    stroke: #ff8f00;
}
.menudropsvg {
    width: 3vmax;
    height: 3vmax;
}
.menudropsvgpath {
    stroke: #f1e1c1;
    border: none;
    cursor: pointer;
}
.menudropsvgpath:hover, .menudropsvgpath:focus {
    stroke: #ff8f00;
}
.dropdown {
    float: right;
    position: relative;
    display: block;
}
.dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 2.5vmax;
}
.dropdown-content-bell {
    right: -15vmax;
    min-width: 240px;
    padding: 1vmax;
}

.dropdown-content-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content-item:hover {background-color: #ddd;}
.show {display:block;}
.menubuttonred { 
    color: #aa0000;
}
.menucaption {
    flex: 1;
    color: #f1e1c1;
    padding: 0px 8px 0px 0px;
    font-size: 3vmax;
    font-weight: bold;
    border: none;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.emptyMessage {
    flex: 1;
    align-content: center
}
.menubtnContent {
    display: flex;
    flex-direction: row;
}
.bannerSmall {
    display: none;
    align-items: center;
}
.menubannersvg {
    width: 5vmax;
    height: 5vmax;
}
.menubannerbackbtn {
    width: 3vmax;
    height: 3vmax;
}
.menubannerbtn {
    color: #f1e1c1;
    stroke: #f1e1c1;
    border: none;
    cursor: pointer;
}
.menubannerbtn:hover, .menubannerbtn:focus {
    color: #ff8f00;
    stroke: #ff8f00;
}
.menudroparrow {
    font-size: 1.5vmax;
    align-self: center;
}
.menuelement {
    border: none;
}
.profile-stats-item {
}
.weeklyChart {
    flex: 1;
    align-self: stretch;
    height: 50vh;
}
.stats-row {
    display: flex;
    flex-direction: row;
    width:20vmax;
}
.stats-row-wide {
    display: flex;
    flex-direction: row;
    width:30vmax;
}

.stats-row-header {
    width:10vmax;
}
.stats-row-header-middle {
    width:5vmax;
}
.menu-disabled {
    background: #aaaaaa;
    cursor: unset;
}
.menu-btn {
    display: flex;
    flex:1;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    color: #ff8f00;
    font-size: 2vmax;
    font-weight: bold;
    cursor: pointer;
}